@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo{
    color: #767676 !important;
    background: white !important;
}

.fly-menu{
  border-radius:0 !important;
  background-color: #a333c8 !important;
}
/*   AuthSection   */
.tab {
  border:none !important;
}

.layout{
  min-height:100vh !important;
  background: #f7f7f7 !important;
}

.pusher{
  max-width: 90vw ! important;
}

.fly-divider{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid #a333c8;
    margin: 1em 0;
    padding: 0; 
}

.home{
  min-height: 100vh !important;
}

.home-container{
  min-height: 90vh !important;
}

.slider{
  margin-top:10px !important;
  padding:3px 10px !important;
}

.testimonial-header{
  font-family: 'Roboto', sans-serif !important;
}


.testimonial-content{
  color:#bfbbbb;
  font-size: 24px;
  font-family: 'Sail', cursive;
  font-weight: lighter;
  margin-top:10px;
  padding:10px;
}

.testimonial-username{
  font-family: 'Sail', cursive !important;
  font-weight: lighter !important;
}

.slick-active > button{
  color:purple !important;
}
